<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="memberUpdate" method="post" th:object="${memberCommand}">
		<input type="hidden" name="memPw" value="123"/>
		<input type="hidden" name="memPwCon" value="123"/>
		회원번호 : <input type="text" name="memNum" readonly="readonly" th:value="${memberCommand.memNum}" />(자동부여)<br /> 
		회원아이디 : <input type="text" name="memId" th:value="${memberCommand.memId }" />
		<span th:if="${#fields.hasErrors('memId')}" th:errors="*{memId}"></span><br />
		회원이름 : <input type="text" name="memName" th:value="${memberCommand.memName }" />
		<span th:if="${#fields.hasErrors('memName')}" th:errors="*{memName}"></span><br />
		회원주소 : <input type="text" name="memAddr" th:value="${memberCommand.memAddr }" />
		<span th:if="${#fields.hasErrors('memAddr')}" th:errors="*{memAddr}"></span><br />
		등록일 : <input type="date" name="memRegist" th:value="${#dates.format(memberCommand.memRegist, 'yyyy-MM-dd')}" />
		<span th:if="${#fields.hasErrors('memRegist')}" th:errors="*{memRegist}"></span><br />
		성별 : <input type="radio" name="gender" value="F" checked />여자 
			 <input type="radio" name="gender" value="M" />남자	
		<span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span><br/>
		연락처 : <input type="text" name="memPhone" th:value="${memberCommand.memPhone }" />
		<span th:if="${#fields.hasErrors('memPhone')}" th:errors="*{memPhone}"></span><br/>
		생년월일 : <input type="date" name="memBirth" th:value="${#dates.format(memberCommand.memBirth, 'yyyy-MM-dd')}" />
		<span th:if="${#fields.hasErrors('memBirth')}" th:errors="*{memBirth}"></span><br />
		회원이메일 : <input type="text" name="memEmail" th:value="${memberCommand.memEmail }" />
		<span th:if="${#fields.hasErrors('memEmail')}" th:errors="*{memEmail}"></span><br/>
		<input type="submit" value="회원 수정">
</form>
</body>
</html>